

img:not(.wp-block-cover__image-background),.woocommerce-product-gallery__image {
    border-radius: 1rem;
}
.woocommerce-Price-amount.amount {
    font-family: var(--wp--preset--font-family--menu-font);
    font-size: var(--wp--preset--font-size--large);
    font-weight: 700;
    color: var(--wp--preset--color--secondary);
}
.woocommerce-breadcrumb{
    font-family: var(--wp--preset--font-family--menu-font) !important;
    font-size: var(--wp--preset--font-size--small);
    font-weight: 400;
}

/**
 * Responsive
 */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        padding: 1rem !important;
    }

    /** Add padding and enhance size on mobile menu */
    .wp-block-navigation__responsive-container-content {
        padding: 2rem 20% !important;
    }
    .wp-block-cover {
        margin-top: 1rem !important;
    }
    .wp-block-cover__image-background {
        border-radius: 1rem;
    }

    .wp-site-blocks footer .has-background,
    .entry-content > .has-background{
        border-radius: 1rem;
    }

    .rounded-on-mobile {
        border-radius: 1rem !important;
    }

    .hide-on-mobile {
        display: none !important;
    }
    .hide-on-desktop {
        display: flex !important;
    }

    .center-on-mobile {
        align-items: center !important;
    }

    .center-children-on-mobile > * {
        margin:auto !important;
        align-items: center !important;
        text-align: center !important;
        justify-content: center !important;
        float: none !important;
    }

;
}
@media only screen and (min-width: 767px) {

    .hide-on-desktop {
        display: none !important;
    }

    .hide-on-mobile {
        display: flex !important;
    }
}
/**
  * Buttons
 */

.wp-block-button__link:hover{
    background-color: var(--wp--preset--color--tertiary);
    color: var(--wp--preset--color--white);
}
.is-style-outline .wp-block-button__link:hover{
    background-color: var(--wp--preset--color--tertiary) !important;
    color: var(--wp--preset--color--white) !important;
}



.page-template-shop .wp-element-button,
.page-template-shop .wp-block-button__link,
.wc-block-components-button:not(.is-link),
.wp-block-button.wc-block-grid__product-add-to-cart a,
.single_add_to_cart_button,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-base-color) {
    background-color: var(--wp--preset--color--white) !important ;
    color: var(--wp--preset--color--tertiary) !important;
    width: auto !important;
    min-width: 10rem;
    border-radius: 2rem;
    border: 2px solid var(--wp--preset--color--tertiary) !important;

    font-family: var(--wp--preset--font-family--button-font) !important;
    font-size: var(--wp--preset--font-size--small) !important;
    font-weight: 700;
    text-transform: capitalize;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);

    box-sizing: border-box;
    padding: 0.5rem 2rem;
    margin: 0 auto 0 0;
    line-height: 1.5;
    height: auto;
}

.page-template-shop .wp-element-button:hover,
.page-template-shop .wp-block-button__link:hover,
.wc-block-components-button:not(.is-link):hover,
.wp-block-button.wc-block-grid__product-add-to-cart a:hover,
.single_add_to_cart_button:hover,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-base-color):hover{
    background-color: var(--wp--preset--color--tertiary) !important;
    color: var(--wp--preset--color--white) !important;
}

.wc-block-components-checkout-return-to-cart-button {
    margin-right: 3rem;
}

/**
 * Form settings
 */

.mailpoet_form input, .mailpoet_form input:focus-visible, .forminator-input, .forminator-textarea {
    width: 100% !important;
    padding: 0.5rem !important;
    font-family: 'Montserrat' !important;
    /*font-size: var(--wp--preset--font-size--normal) !important;*/
    border-radius: 0.5rem;
    border: 2px solid var(--wp--preset--color--primary);
}


.mailpoet_form input:hover, .forminator-input:hover {
    border: 2px solid var(--wp--preset--color--secondary);
    background: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--white) !important;
}

.mailpoet_form input[type="submit"], .forminator-button-submit {
    width: auto !important;
    min-width: 10rem;
    background-color: var(--wp--preset--color--blanc);
    border-radius: 2rem;
    color: var(--wp--preset--color--tertiary);
    border: 2px solid var(--wp--preset--color--tertiary) !important;

    font-family: var(--wp--preset--font-family--button-font);
    font-size: var(--wp--preset--font-size--small);
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
}

.mailpoet_form input[type="submit"]:hover, .forminator-button-submit:hover {
    background-color: var(--wp--preset--color--tertiary) !important;
    color: var(--wp--preset--color--white);
}

.mailpoet_checkbox_label {
    display: flex !important;
    gap: 1rem;
    align-items: start;
}

.mailpoet_form input[type="checkbox"], .mailpoet_form input[type="radio"] {
    width: auto !important;
}

/**
 * Forminator settings
 */
/**
.forminator-title {} .forminator-subtitle {} .forminator-label {} .forminator-description {} .forminator-input {} .forminator-textarea {}
 */
.forminator-label {
    font-family: 'Montserrat' !important;
    font-size: var(--wp--preset--font-size--small);
    font-weight: normal;
}

.forminator-checkbox {
    display: flex;
    align-items: self-start;
    font-family: 'Montserrat' !important;
    font-weight: normal;
    font-size: var(--wp--preset--font-size--small);
}

.forminator-checkbox [type="checkbox"] {
    margin-right: 1rem;
}

.forminator-checkbox p {
    margin-top: 0;
}

.forminator-button-submit {
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    margin: 0 auto 0 0;
    font-size: var(--wp--preset--font-size--small) !important;
    line-height: 1.5;
    height: auto;
}


:root {
    --forminator-error-color-rgb: 170, 0, 0;
    --forminator-success-color-rgb: 0, 100, 0;
    --forminator-loading-color-rgb: 255, 105, 00;
    --forminator-error-color: rgba(var(--forminator-error-color-rgb), 1);
    --forminator-background-error-color: rgba(var(--forminator-error-color-rgb), 0.2);
    --forminator-success-color: rgba(var(--forminator-success-color-rgb), 1);
    --forminator-background-success-color: rgba(var(--forminator-success-color-rgb), 0.2);
    --forminator-loading-color: rgba(var(--forminator-loading-color-rgb), 1);
    --forminator-background-loading-color: rgba(var(--forminator-loading-color-rgb), 0.2);
}

.forminator-response-message, .forminator-response-message p {
    font-family: 'Montserrat', serif !important;
    font-weight: normal;
    border-radius: 0.5rem;
    border: 1px solid;
    padding: 0.5rem;
    font-size: calc(0.8 * var(--wp--preset--font-size--small));
}

.forminator-response-message p {
    border: 0px;
}

.forminator-response-message[aria-hidden="true"] {
    display: none;
}

.forminator-error-message {
    font-family: 'Montserrat' !important;
    font-weight: normal;
    font-size: calc(0.8 * var(--wp--preset--font-size--small));
    color: var(--forminator-error-color);
}

.forminator-response-message.forminator-error {
    color: var(--forminator-error-color);
    border-color: var(--forminator-error-color);
    background-color: var(--forminator-background-error-color)
}

.forminator-response-message.forminator-success {
    color: var(--forminator-success-color);
    border-color: var(--forminator-success-color);
    background-color: var(--forminator-background-success-color)
}

.forminator-response-message.forminator-loading {
    color: var(--forminator-loading-color);
    border-color: var(--forminator-loading-color);
    background-color: var(--forminator-background-loading-color)
}

/**
 * Menu
 */