<!-- wp:template-part {"slug":"header-categories","area":"uncategorized"} /-->

<!-- wp:query -->
<div class="wp-block-query"></div>
<!-- /wp:query -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"padding":{"top":"0","right":"var:preset|spacing|30","bottom":"0","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:var(--wp--preset--spacing--30);padding-bottom:0;padding-left:var(--wp--preset--spacing--30)"><!-- wp:query {"queryId":16,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"type":"constrained"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","className":"standard-post-list","layout":{"type":"grid","columnCount":2},"fontFamily":"libre-baskerville"} -->
<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1","dimRatio":40,"align":"wide","style":{"border":{"width":"0px","style":"none","radius":"1rem"},"color":{"duotone":"unset"}}} /-->

<!-- wp:group {"style":{"dimensions":{"minHeight":"6rem"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"},"hideFromFeed":true} -->
<div class="wp-block-group" style="min-height:6rem"><!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"large"} /-->

<!-- wp:post-date {"textAlign":"center","isLink":true,"displayType":"modified","textColor":"primary"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"label":"Plus récents"} /-->

<!-- wp:query-pagination-next {"label":"Plus anciens"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->